#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}
# https://vector.dev/docs/setup/configuration/

# Set global options
data_dir: "/var/lib/vector"

{% set loop_helper = {
    "sources": (vector_sources | default({})),
    "transforms": (vector_transforms | default({})),
    "sinks": (vector_sinks | default({}))
} %}

sources:
  {{ vector_sources | default({})  | to_nice_yaml(indent=2) | indent(2, False) }}

transforms:
  {{ vector_transforms | default({})  | to_nice_yaml(indent=2) | indent(2, False)  }}

sinks:
  {{ vector_sinks | default({}) | to_nice_yaml(indent=2) | indent(2, False)  }}
